.well
  = semantic_form_for @mac do |f|
    .row
      .col-md-6
        = f.input :mac
    .row
      .col-md-10
        = f.input :comment, label: 'Comentario'
      .col-md-2
        = f.input :blocked, label: 'Bloquear'
    - if current_user.admin?
      .row
        .col-md-12
          = f.input :user, input_html: {class: 'select2'}

    .row
      .col-md-12
        = f.submit "Aceptar", class: 'btn btn-success pull-right'
        = link_to "Cancelar", [:macs], class: 'btn pull-right'
