%tr{class: cycle('even', 'odd')}
  %td
    %small= mac.comment
  %td= mac.mac
  - if current_user.admin?
    %td
      - if mac.user.present?
        = mac.user.email
      - else
        \-
  %td.center= mac.blocked ? "Sí" : "No"
  %td
    = link_to 'editar', [:edit, mac], class: 'btn btn-primary btn-xs pull-right'
    = link_to "borrar", [mac], method: 'delete', class: 'pull-right btn btn-danger btn-xs', "data-confirm" => '¿Estás seguro?'
