
.row
  .col-lg-6
    = form_tag [:macs], method: :get do
      = text_field_tag "search_term", @search_term
      = submit_tag "Buscar"
      = link_to "limpiar", [:macs]
  .col-lg-6
    = link_to "Nueva mac", [:new, :mac], class: 'pull-right btn btn-success'


- if @macs.present?
  %table
    %thead
      %th Nodo
      %th Comentario
      %th Mac
      - if current_user.admin?
        %th Usuario
      %th
    %tbody
      = render @macs
  = will_paginate @macs
- else
  No hay ninguna mac dada de alta

