.well
  = semantic_form_for [:admin, @user] do |f|
    - if f.object.errors.any?
      = f.semantic_errors *f.object.errors.messages.keys

    .row
      .col-md-6
        = f.input :email, label: 'Correo'
      .col-md-6
        = f.input :manager, label: 'Gestor'
        - if current_user.admin?
          = f.input :admin, label: 'Administrador'
          = f.input :node, label: 'Tipo nodo'

    .row
      .col-md-6
        = f.input :nodes, as: :check_boxes, label: 'Nodos', collection: @available_nodes
        = link_to "seleccionar todos los nodos", '#', id: :select_all_nodes

      .col-md-6
        = f.input :blocked, label: "Bloquear"

    - if current_user.admin?
      .row
        .col-md-6
          = f.input :parent, input_html: {class: 'select2'}, label: 'Usuario gestor'
      = f.inputs name: "Campos para los tipo nodo" do
        .row
          .col-md-6
            = f.input :header, label: 'Cabecera'
          .col-md-6
            = f.input :footer, label: 'Pie'
        .row
          .col-md-6
            = f.input :iface, label: 'Interfaz'
    .row
      .col-md-12
        = f.submit "Aceptar", class: 'btn btn-success pull-right'
        = link_to "Cancelar", [:admin, :users], class: 'btn pull-right'
